/* Reset and base styles  */
body {
	padding: 0px;
	margin: 0px;
	border: none;
}

.p-button .p-button-icon.pi {
	line-height: normal;
}

.p-button-label {
	display: flex;
	align-items: center;
	font-weight: 400;
	line-height: 1;
}
